

<!-- Page Header -->
<div class="feedHeader">
	<div class="dayWise">
		<a href="" class="sectionHeader">
			<h2 class="borderYellow">FEATURED TODAY</h2> <span>Hand picked
				5 out of 93</span>
		</a>
	</div>
</div>
<!-- /.row -->

<div class="allfeed">

	<!-- Projects Row -->
	<section id="feed" >
		<ul class="picks" style="width:100%;">
			  <li class="gridItem photoOfDay">
                <a href="#">
                    <div class="postPhoto imgLoaded">
                      <img class="img-responsive" src="assets/images/pftd.jpeg" alt="" style="display: inline;">
                    </div>

                    <div class="postInfo">

                     <div class="heart"></div>

                      <h3>Photo of the Day</h3>

                      <div class="postMeta">
                        <span title="" class="source dribbble">nationalgeographic.com</span>

                        <div class="stats">
                          <span class="views" title="">30</span>
                          <!-- <span class="likes" title="">31</span> -->
                        </div>
                      </div>
                    </div>
                </a>
            </li>

            <li class="gridItem">
                <a href="#">
                    <div class="postPhoto imgLoaded">
                      <img class="img-responsive" src="assets/images/2.jpeg" alt="" style="display: inline;">
                    </div>

                    <div class="postInfo">
                      <div class="heart"></div>
                      <h3>Cras laoreet nibh at luctus sit amet.</h3>

                      <div class="postMeta">
                        <span title="" class="source dribbble">News.com</span>
                        <div class="stats">
                          <span class="views" title="">230 </span>
                        </div>
                      </div>
                    </div>
                </a>
            </li>

            <li class="gridItem">
                <a href="#">
                    <div class="postPhoto imgLoaded">
                      <img class="img-responsive" src="assets/images/ab.png" alt="" style="display: inline;">
                    </div>

                    <div class="postInfo">
                      <div class="heart"></div>
                      <h3>Elit.consectetur adipiscing elit.</h3>

                      <div class="postMeta">
                        <span title="" class="source dribbble">website.com</span>
                        <div class="stats">
                          <span class="views" title="">56</span>
                        </div>
                      </div>
                    </div>
                </a>
            </li>

            <li class="gridItem">
                <a href="#">
                    <div class="postPhoto imgLoaded">
                      <img class="img-responsive" src="assets/images/1.png" alt="" style="display: inline;">
                    </div>

                    <div class="postInfo">
                      <div class="heart"></div>
                      <h3>Lorem ipsum dolor vestibulum luctus.</h3>

                      <div class="postMeta">
                        <span title="" class="source dribbble">designernews.com</span>
                        <div class="stats">
                          <span class="views" title="">98</span>
                        </div>
                      </div>
                    </div>
                </a>
            </li>

            <li class="gridItem">
                <a href="#">
                    <div class="postPhoto imgLoaded">
                      <img class="img-responsive" src="assets/images/abc.jpg" alt="" style="display: inline;">
                    </div>

                    <div class="postInfo">
                      <div class="heart"></div>
                      <h3>Lorem ipsum dolor sit </h3>

                      <div class="postMeta">
                        <span title="" class="source dribbble">Dribbble.com</span>
                        <div class="stats">
                          <span class="views" title="">34</span>
                        </div>
                      </div>
                    </div>
                </a>
            </li>


		</ul>
	</section>
	<!-- /.row -->


</div>
